Package: com.lebirava.undercut
Name: UnderCut
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 3.0), com.rpetrich.rocketbootstrap (>= 1.0.3) | firmware (<< 7.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: There's apps down there, I say!
Maintainer: Lebirava
Author: Lebirava
Section: Tweaks
